<div class="container jumbotron">
<div class="row">
  <div class="col-md-9">

      <div class = "text-center">

        <div class = "col-xs-12 sidebar">
            <div class= "profile-photo">
        <% if @user.photos? %>
        <% @user.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 300, height: 300, crop: :fill, class: "img-circle"%>
        <% end %>
        <% end %>

      </div>
      <ul class = "list-unstyled">
        <h1><%=current_user.first_name%><%=" "%><%= current_user.last_name%></h1>
        <hr>
        <li><%= current_user.email%> </li>
        <hr>
        <li> <%= current_user.city%><%= " "%> <%= current_user.country%></li>
        <hr>
        <li><%= current_user.description %> </li>
      </ul>
    </div>
  </div>
</div>

  <div class="area"></div><nav class="main-menu">
  <ul>
    <li>
      <a <%= link_to appointments_path do %>
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          My Appointments
        </span>
        <%end%>


      </a>

    </li>
    <li class="has-subnav">
      <a <%= link_to  edit_user_path(current_user) do%>
        <i class="fa fa-list fa-2x"></i>
        <span class="nav-text">
          Edit Profile
        </span>
        <%end%>

      </a>

    </li>
    <li class="has-subnav">
      <a <%= link_to edit_establishment_path(current_user) do %>
           <i class="fa fa-folder-open fa-2x"></i>
        <span class="nav-text">
          Edit my Establishment
        </span>
        <%end%>

      </a>
    </li>


</ul>
</nav>
</div>

</div>
