
<div class="container jumbotron">

<div class="col-xs-3">

  <div class = "profile-sidebar">
      <ul class = "list-unstyled">
        <%= link_to appointments_path do%>
        <li> My Courses</li>
        <%end%>

        <%= link_to  edit_user_path(current_user) do%>
        <li > Edit Profile</li>
        <%end%>

        <%= link_to  new_establishment_path do %>
        <li > Become a teacher</li>
        <%end%>

        <%= link_to edit_establishment_path(current_user) do %>
        <li>Edit my Establishment</li>
        <%end%>

      </ul>
  </div>
</div>

<div class="col-md-9">

  <div class = "text-center">

    <div class = "col-xs-12 sidebar">
      <div class= "profile-photo">
        <% if @user.photos? %>
        <% @user.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 300, height: 300, crop: :fill, class: "img-circle"%>
        <% end %>
        <% end %>

      </div>
      <ul class = "list-unstyled">
        <h1><%=current_user.first_name%><%=" "%><%= current_user.last_name%></h1>
        <li><%= current_user.email%> </li>
        <li> <%= current_user.city%><%= " "%> <%= current_user.country%></li>
        <li><%= current_user.description %> </li>
      </ul>
    </div>
  </div>
</div>


</div>
