 <div class="card col-md-3" style="height: 400px;">

     <% picture = course.photos? ? course.photos.first.public_id : 'awhazjkztkzqtdf3jzv2' %>


    <img class="card-img-top" style="width: 100%" src="<%= cl_image_path(picture, height: 600, width: 700, crop: :fill) %>" alt="Card image cap">
    <div class="container-card">
        <ul class="list-inline">
      <li style = "color: green;">$<strong><%= course.price %></strong> per day</li>
    </ul>
    <hr>
    <div class="card-block">
      <h4 class="card-title"><strong><%= course.title  %></strong></h4>
      <p class="card-text"><%= course.category %></p>
      <div class="card-description"><%= truncate(course.description, length: 100) %></div>
    </div>
    </div>
  </div>
