 <div class="col-xs-12 col-md-<%= gridsize %> col-lg-<%= gridsize %>">
  <div class="card">
    <img class="image" src="https://unsplash.it/50x50" alt="">
    <div class="info-card">
      <div class="info-top">
        <h2 class="title"><%= course.title  %></h2>
        <h4 class="establishment"><%= course.category %></h4>
      </div>

    </div>

    <div class="review list-inline">
      <p class="dist"> </p>
      <p class="price">$<%= course.price %> day</p>
    </div>

    <div class="card-description">
      <div style="margin:20px; font-size: 10px">
        <h3 style="font-size: 15px">
      <%=course.title%>
      </h3>
      <br>
      <p style="font-size: 10px">
        <%= course.description %>
      </p>
      </div>
    </div>

  </div>
</div>

<% content_for (:after_js) do %>
  <% javascript_tag do %>



  <% end %>
<% end %>
