<div class = "banner" style="background-image: linear-gradient(-700deg, rgba(0,50,50,0.6) 0%, rgba(0,36,61,0.6) 20%), url('<%= cl_image_path("http://teaching.utoronto.ca/wp-content/uploads/2015/05/atelier-enseignement-de-informatique.jpg",
width: 1000, height: 500, crop: :fit) %>')" >

<div class="card-container">
  <%= image_tag "learn_locally.png" %>
</div>

<div class = "container-search home-banner">
  <div class="row">
    <div class = "search-box">
     <%= form_tag('/', method: 'get') do  %>
     <%= text_field_tag :search_value, nil, placeholder: 'find your next course' , class: "navbar-wagon-search-input" %>

     <%= submit_tag 'Search', class: 'btn btn-warning' %>

     <% end  %>

   </div>
 </div>
</div>

</div>
