
<div class = "container">
  <div class = "row">

    <h1 class="title">Explore courses</h1>
     <li class = "division list-unstyled" style="margin: 20px;"></li>

    <div>
      <%if params[:search_value] != nil  %>

      <div class= col-md-6>
        <% @courses_value.each do |course|%>
        <% course_id = course[:searchable_id]%>
        <%result = @courses.find(course_id)  %>
        <%=link_to course_path(course_id) do%>
        <%= render partial: "shared/card",  locals: { gridsize: 6, course: result } %>
        <%end%>
        <%end%>
        <br>
      </div>

      <div class="col-md-6">
        <div id="map"  style="width: 100%; height: 600px;">
        </div>
        <% content_for(:after_js) do %>
        <%= javascript_tag do %>
        $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } , provider:{ scrollwheel: false } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
    }
  });
});
<% end %>
<% end %>
</div>



<%else  %>

<div class="col-md-12">
  <% @courses.each do |course|%>
  <%=link_to course_path(course) do%>
  <%= render partial: "shared/card", locals: { gridsize: 3, course: course } %>
  <%end%>
  <%end%>
  <br>
</div>

<%end%>


</div>
</div>
</div>
