<div class ="categories-wrapper">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Explore categories
      </h1>

      <div class="category-bar">
        <% @categories.each_with_index do |cat, index| %>
        <% if index == 0 %>
        <a href="#" class="tab active" data-target="#<%= cat %>-content">
          <% else %>
          <a href="#" class="tab" data-target="#<%= cat %>-content">
            <% end %>
            <i class=" categogory-bar-icons <%= @mapping[cat] %>" aria-hidden="true"><%= cat %></i>
          </a>
          <% end %>
        </div>

        <div class="row">
          <% @categories.each_with_index do |cat, index| %>
          <% if index == 0 %>

          <div class="tab-content" id="<%= cat %>-content">

            <% else %>

            <div class="tab-content hidden" id="<%= cat %>-content">
              <% end %>
              <div class="col-xs-12">
                <h3>
                 <%= cat %>
               </h3>
               <% courses = Course.where("category ILIKE ?", "%#{cat}%") %>
               <% if courses.empty? %>
               <h3>
                No courses for this category yet!
              </h3>
              <% else %>
              <% courses.each do |course| %>
              <%= render partial: "shared/card", locals: { gridsize: 3, course: course } %>
              <% end %>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>


      </div>
</div>
</div>
</div>

