<div class ="categories-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">
          Explore categories
        </h1>

        <div class="category-bar">
          <% @categories.each_with_index do |cat, index| %>
          <% if index == 0 %>
          <a href="#" class="tab active" data-target="#<%= cat %>-content">
            <% else %>
            <a href="#" class="tab" data-target="#<%= cat %>-content">
              <% end %>
              <i class=" categogory-bar-icons <%= @mapping[cat] %>" aria-hidden="true"></i>
              <span style="display:none;">
                <%= cat %>
              </span>
            </a>
            <% end %>
          </div>


          <div class="row">
            <% @categories.each_with_index do |cat, index| %>
            <% if index == 0 %>

            <div class="tab-content" id="<%= cat %>-content">





              <div class="row">
                <% @categories.each_with_index do |cat, index| %>
                <div class="tab-content hidden" id="<%= cat %>-content">
                  <% end %>
                  <div class="col-xs-12">

                   <% courses = Course.where("category ILIKE ?", "%#{cat}%") %>
                   <% if courses.empty? %>
                   <p class ="text-center">
                    No courses for this category yet :(
                  </p>
                  <% else %>
                  <% courses.each do |course| %>
                  <%= render partial: "shared/card", locals: { gridsize: 3, course: course } %>
                  <% end %>
                  <% end %>
                  <% end %>

                </div>
                <% end %>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
