

<div class = "text-center" >
  <div class = "banner" style="background-image: linear-gradient(-700deg, rgba(0,50,50,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path("http://teaching.utoronto.ca/wp-content/uploads/2015/05/atelier-enseignement-de-informatique.jpg",
width: 1000, height: 500, crop: :fill) %>')" >
    <div class = "container">
    <div class="card-container">
      <h1>Welcome to Learnability!</h1>


      <div>
       <%= form_tag('/', method: 'get') do  %>
       <%= text_field_tag :search_value, nil, placeholder: 'find your next course' , class: "navbar-wagon-search-input" %>
       <%= submit_tag 'search', class: 'navbar-wagon-search-btn hidden-lg' %>
       <% end  %>
     </div>

   </div>
 </div>
 </div>



<!--      <div class = "container">
    <h1>Explore categories</h1>
<% @categories.each do |cat| %>
    <%= render "shared/categories", cat: cat %>


    <%category_list = @courses.where(category: cat) %>
    <%category_list.each do |course| %>
    <%result = @courses.find(course.id)  %>
    <%=link_to course_path(course.id) do%>
    <%= render "shared/card", course: result %>
    <%end %>
    <%end  %>
<%end %>
</div> -->


     <div class = "container">
    <h1>Explore courses</h1>


    <%if params[:search_value] != nil  %>

    <% @courses_value.each do |course|%>
    <% course_id = course[:searchable_id]%>
    <%result = @courses.find(course_id)  %>

    <%=link_to course_path(course_id) do%>
    <%= render "shared/card", course: result %>
    <%end%>
    <%end%>
    <br>

    <%else  %>

    <% @courses.each do |course|%>
    <%=link_to course_path(course) do%>
    <%= render "shared/card", course: course %>
    <%end%>
    <%end%>
    <br>

    <%end%>


</div>



<div class = "info-wrapper">
  <div class = "info">
    <div>
      <h1>Why learnability?</h1>
      <br>
      <br>
      <ul class ="list-unstyled ">
        <h4><li>Find courses close to you</li></h4>
        <h4><li> Learn in academies and from independent experts</li></h4>
        <h4><li>Find clients to tech your skills</li></h4>
      </ul>
    </div>

    <img src="https://ak3.picdn.net/shutterstock/videos/9833465/thumb/1.jpg" id = "group">

  </div>
</div>

</div>
