

<div class = "text-center" >
<div class = "banner jumbotron" style="margin: 0;">
<div class = "container">
<h1>Welcome to Learnability!</h1>
<p>Learn through experiences!</p>


<div>
 <%= form_tag('/', method: 'get') do  %>
    <%= text_field_tag :search_value,nil, placeholder: 'find your next course' , class: "navbar-wagon-search-input" %>
    <%= submit_tag 'search', class: 'navbar-wagon-search-btn hidden-lg' %>

    <% end  %>
</div>
</div>
    </div>
<div class = "courses jumbotron">
<div class = "text-center">
  <h1>Explore courses</h1>
  <ul class = "list-unstyled">

<%if params[:search_value] != nil  %>

    <li>
  <% @courses.each do |course|%>
      <%=link_to course_path(course[:searchable_id]) do%>
        <%= course.content %>
      <%end%>
      <%end%>
    </li>
</ul>

<%else  %>

    <li>
<% @courses.each do |course|%>
      <%=link_to course_path(course) do%>
        <%= course.title %>
      <%end%>
      <%end%>
    </li>
</ul>
<%end%>
</div>
</div>



<div class = "info-wrapper">
  <div class = "info">
      <div>
    <h1>Why learnability?</h1>
    <br>
    <br>
    <ul class ="list-unstyled ">
      <h4><li>Find courses close to you</li></h4>
      <h4><li> Learn in academies and from independent experts</li></h4>
      <h4><li>Find clients to tech your skills</li></h4>
    </ul>
    </div>

    <img src="https://ak3.picdn.net/shutterstock/videos/9833465/thumb/1.jpg" id = "group">

  </div>
</div>

</div>
