     <div class="col-md-8">

       <table >
         <col width="33%">
         <col width="67%">
         <tr>
          <td colspan="2">
           <h1 class="text-center" style="font-size: 40px; color: gray"><%= @course.title%></h1>
           <h2 class="text-center" style="font-size: 20px; color: gray"><%= @course.tag %></h2>
           <br>
           <ul class="list-unstyled">
            <li><i class="<%= @mapping[@course.category] %>"> <%= @course.category %></i></li>
            <li><i class="fa fa-map-marker" aria-hidden="true"> <%= @course.establishment.address %></i></li>
          </ul>
          <li class = "division list-unstyled" style="padding: 15px;"></li>
        </td>
      </tr>
      <tr>
       <td>
         <h1><%= link_to establishment_path(@course.establishment) do %>
          More about <%= @course.establishment.name %>
          <%end  %></h1>
        </td>
        <td>
         <p class="line-height" > <%= @course.establishment.description %></p>
       </td>
     </tr>
     <tr>
       <td class="line-height"><h1>What is this course about??</h1></td>
       <td><p class="line-height"> <%= @course.description %></p></td>
     </tr>
   </table>

   <li class = "division list-unstyled" style="padding: 15px;"></li>

   <div class="list-inline" style="margin:30px; float: right">
    <strong><%= " Price: $"%> <%= @course.price %></strong>
    <%= link_to "Book with us!", new_appointment_path(course_id: @course.id), class: "btn btn-primary" %>
  </div>

</div>

<div class="col-md-4">

  <div style="width: 100%; position: fixed; padding: 30px;">
    <% if @course.photos? %>
    <% @course.photos.each do |photo| %>
    <%= cl_image_tag photo.path, width: 300, height: 300, crop: :fill %>
    <% end %>
    <% end %>

  </div>
</div>
