     <div class="col-md-8" >
<div class="titulo">


           <h1 class="text-center" style="font-size: 40px; color: gray"><%= @course.title%></h1>
           <h2 class="text-center " style="font-size: 20px; color: gray "><%= @course.tag %></h2>
</div>
<ul class="fa-ul">
            <p><strong>Category: </strong> <%= @course.category %><br>
            <strong>Address: </strong> <%= @course.establishment.address.titleize %></p>
</ul>


 <table class="centered">
  <col width=34%>
   <col width=66%>
      <tr>
       <td class="right">
         <h1 style="margin:20px 0 0 0;"><%= link_to establishment_path(@course.establishment) do %>
          More about <%= @course.establishment.name %>
          <%end  %></h1>
        </td>
        <td>
         <p style="margin:20px 5px 0 10px;"> <%= @course.establishment.description %></p>
       </td>
     </tr>

     <tr>
       <td class="right"><h1 style="margin:20px 0 0 0;">What is this course about??</h1></td>
       <td><p style="margin:20px 5px 0 10px;"> <%= @course.description %></p></td>
     </tr>
   </table>

   <li class = "division list-unstyled" style="padding: 15px;"></li>

   <div class="list-inline" style="margin:30px; float: right">
    <strong><%= " Price: $"%> <%= @course.price %></strong>
    <%= link_to "Book with us!", new_appointment_path(course_id: @course.id), class: "btn btn-primary" %>
  </div>

</div>

<div class="col-md-4">

  <div style="width: 100%; position: fixed; margin-top: 85px">
    <% if @course.photos? %>
    <% @course.photos.each do |photo| %>
    <%= cl_image_tag photo.path, width: 350, height: 350, crop: :fill %>
    <% end %>
    <% end %>

  </div>
</div>
