<div class="container">
<div class="text-center">
<h1>Create a new experience!</h1>
</div>
  <div class="row">
    <div class="col-xs-12">


  <%= simple_form_for [@establishment, @course] do |f| %>
            <% f.error_notification %>
            <%= f.input :title %>
            <%= f.input :category, collection: @categories %>

            <%= f.input :price %>
            <%= f.input :description %>
            <%= f.input :photos, as: :attachinary %>
            <%= f.button :submit %>
            <%= f.input :establishment_id, as: :hidden, input_html: {value: params[:establishment_id]} %>
<%end%>
</div>
  </div>
</div>

<%= "should have schedule to pick a date from" %>
