<div class="container-login">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-login">
        <div class="text-center">
          <h1>Create a new experience!</h1>

          <%= simple_form_for [@establishment, @course] do |f| %>
          <% f.error_notification %>
          <%= f.input :title %>
          <%= f.input :category, collection: @categories, class:"col-md-3" %>

          <%= f.input :price%>
          <%= f.input :tag%>
          <%= f.input :description %>
          <%= f.input :photos, as: :attachinary %>
          <%= f.button :submit %>
          <%= f.input :establishment_id, as: :hidden, input_html: {value: params[:establishment_id]} %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

