<div class = "show-courses">
  <div class="container">
    <div class="row">
    <div class = "text-center">
      <h1><%= @course.title%></h1>

      <div class ="info">
        <div class="col-xs-12">
        <ul class = "list-unstyled ">
            <li class = "division"><strong> <%= "Title "%> </strong> <br> <br> <%= @course.title %></li>
            <li class = "division"><strong> <%= "Description "%> </strong> <br> <br> <%= @course.description%></li>
            <li class = "division"> <strong> <%= "City"%> </strong> <br> <br> <%= @course.establishment.city%></li>
        </ul>
      </div>
       <div class="col-xs-12">

          <% if @course.photos? %>
          <% @course.photos.each do |photo| %>
          <%= cl_image_tag photo.path, width: 300, height: 500, crop: :fit %>
          <% end %>
          <% end %>
            <br>
            <strong> <%= "Price "%></strong><br> <br> <%= "$"%> <%= @course.price %>
            <br>

            <%= link_to "Get appointment", new_appointment_path(course_id: @course.id), class: "btn btn-primary" %>

        </div>
      </div>
      </div>
    </div>
  </div>


  <div class = "text-center">

    <%= link_to "See the establishment", establishment_path(@course.establishment), class: "btn btn-primary"%>
    <br>

  </div>

  <br>
  <br>
  <br>

  <div class="container">
    <h3> Reviews of this course</h3>
    <div class="row">
      <div class="col-xs-12">


        <% @reviews.each do |review|%>
        <ul class = "list-inline">
          <li><%=review.content%></li>
          <li><%=review.stars%></li>
          <li><%=review.appointment.user.email%></li>
          <%end%>
        </div>

        <p>You can only make a review if you have made an appoinment for this course</p>
      </div>
    </div>
  </div>
  <div class="text-center">

  <div id="map" style="width: 100%; height: 400px;"></div>

  <% content_for(:after_js) do %>
  <%= javascript_tag do %>
  $(document).ready(function() {
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: { id: 'map' } }, function() {
  markers = handler.addMarkers(<%= raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();

  if (markers.length === 0) {
  handler.getMap().setZoom(2);
} else if (markers.length === 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>

</div>
</div>
