<div class = "text-center">
<h1>Courses#show</h1>
<p>Find me in app/views/courses/show.html.erb</p>


<ul class = "list-unstyled">
  <li><%= @course.title %></li>

 <li> <strong> <%= "City: "%> </strong> <%= @course.establishment.city%></li>


</ul>



<%= link_to "See the teacher", establishment_path(@course.establishment)%>
<br>
<%= link_to "get appointment", new_appointment_path(@course) %>

</div>
