<h1>Courses#show</h1>
<p>Find me in app/views/courses/show.html.erb</p>


<%= @course.establishment%>
<%= @course.title %>
<%= @course.category %>
<%= @course.price %>
<%= @course.description %>



<%= link_to "get appointment", new_appointment_path(@course) %>
