  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <div class = "show-courses">
          <div class="text-center">
            <h1><strong><%= @course.title%></strong></h1>

<i class=" <%= @mapping[@course.category ]%> fa-2x" aria-hidden="true"> <%= @course.category %></i>

          </div>

          <div class = "course-information">
            <div class="list-inline">
              <div class= "col-md-6">
                <h1><%= link_to establishment_path(@course.establishment) do %>
                  About <%= @course.establishment.name %>
                  <%end  %></h1>
                </div>
                <div class= "col-md-6">

                 <h5>  <%= @course.establishment.address %></h5>
                 <h5> <%= @course.establishment.description %></h5>

               </div>
             </div>
           </div>

           <li class = "division list-unstyled" style="padding: 5px;"></li>






           <div class="list-inline">
            <div class= "col-md-6">
              <h1>What is this course about??</h1>
            </div>
            <div class= "col-md-6">
             <h5> <%= @course.description %></h5>

           </div>
         </div>
       </div>

     </div>


     <div class="col-md-6">

<div style="width: 100%">
      <% if @course.photos? %>
      <% @course.photos.each do |photo| %>
      <%= cl_image_tag photo.path, width: 300, height: 500, crop: :fit %>
      <% end %>
      <% end %>
      </div>
      <div class="list-inline">
        <strong><%= " Price: $"%> <%= @course.price %></strong>
        <%= link_to "See the schedule", new_appointment_path(course_id: @course.id), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>






<div class="container">
  <div>
    <h3> Reviews of this course</h3>
    <div class="row">
      <div class="col-xs-12">

        <% if @reviews.empty? %>
        <p class=" fa fa-frown-o"><%="No review for this course yet" %></p>
        <% else %>
        <% @reviews.each do |review|%>
        <ul class = "list-inline">
          <li><%=review.content%></li>

          <li class="review-star" data-score="<%=review.stars %>"></li>

          <li><%=review.appointment.user.email%></li>
          <%end%>
          <%end  %>


        </div>



        <div class="text-center">

          <div id="map" style="width: 100%; height: 400px;"></div>
          <% content_for(:after_js) do %>
          <%= javascript_tag do %>
          $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();

          if (markers.length === 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length === 1) {
        handler.getMap().setZoom(14);
      }
    });
  });
  <% end %>
</div>

<script>
  $(document).ready(function () {
   $('.review-star').raty({
    path: '/assets/',
  // scoreName: 'review[stars]'
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  },
});
 });
</script>




<% end %>




