

<div class="container ">
  <div class="row">
    <h1 class = "text-center">My courses</h1>
    <% @appointments.each do |appointment| %>


    <div class="col-xs-8 col-xs-offset-2 ">
      <div class = "product">



       <% if appointment.course.photos? %>
       <% appointment.course.photos.each do |photo| %>
       <%= cl_image_tag photo.path, width: 200, height: 215, crop: :fill %>
       <% end %>
       <% end %>


        <ul class ="list-unstyled ">
        <%=link_to course_path(appointment.course_id) do%>
          <li><strong><%= appointment.course.title%></strong></li>
          <% end %>
          <li> <%= appointment.course.description%></li>
          <li> <%= appointment.date%></li>
          <li> <%= appointment.course.establishment.city%><%= ", "%><%=appointment.course.establishment.country%></li>

          <li> <%= link_to "Review this course", new_appointment_review_path(appointment), class: "btn btn-warning" %></li>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>

