

  <% if @appointments.last %>

  <div class="alert alert-info alert-dismissible" role="alert">
  <p>Your appointment has been seccesfully created! Wait for teacher to confirm</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>

<div class="container ">
  <div class="row">
    <h1 class = "text-center">My courses</h1>
    <% @appointments.each do |appointment| %>


    <div class="col-xs-8 col-xs-offset-2 ">
      <div class = "product">

       <% if appointment.course.photos? %>
       <% appointment.course.photos.each do |photo| %>
       <%= cl_image_tag photo.path, width: 200, height: 215 %>
       <% end %>
       <% end %>


        <ul class ="list-unstyled ">
          <li><strong><%= appointment.course.title%></strong></li>
          <li> <%= appointment.course.description%></li>
          <li> <%= appointment.date%></li>
          <li> <%= appointment.course.establishment.city%><%= ", "%><%=appointment.course.establishment.country%></li>

          <li> <%= link_to "Review this course", new_appointment_review_path(appointment), class: "btn btn-success" %></li>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>

