<h1>Appointments#new</h1>
<p>Find me in app/views/appointments/new.html.erb</p>

<%= @appointment.course %>
<%= @appointment.course %>
<%= @appointment.user %>



<%= simple_form_for @appointment do |f| %>
  <% f.error_notification %>
  <%= f.input :date, id: "datepicker" %>
  <%= f.input :description %>
  <%= f.input :course_id, as: :hidden, input_html: {value: params[:course_id]} %>
  <%= f.button :submit %>
<%end%>
