<div class="container">
  <div class="row">
  <div class="col-xs-12">
       <div class="form-box">
    <h1>Make an Appointment today!</h1>

    <%= @appointment.course %>
    <%= @appointment.course %>
    <%= @appointment.user %>



    <%= simple_form_for @appointment do |f| %>
    <% f.error_notification %>


    <div style="overflow:hidden;">
      <div class="form-group">
        <div class="row">
          <div class="col-md-8">
            <%= f.input :date, :as => :string, input_html: {id: "datetimepicker12"} %>
          </div>
        </div>
      </div>
    </div>




    <%= f.input :description %>
    <%= f.input :course_id, as: :hidden, input_html: {value: params[:course_id]} %>
    <%= f.button :submit %>
    <%end%>
    </div>

  </div>
</div>
</div>



