<h1>Appointments#new</h1>
<p>Find me in app/views/appointments/new.html.erb</p>

<%= @appointment.course %>
<%= @appointment.course %>
<%= @appointment.user %>

<div class="container">

<%= simple_form_for @appointment do |f| %>
  <% f.error_notification %>


<div style="overflow:hidden;">
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
              <%= f.input :date, :as => :string, input_html: {id: "datetimepicker12"} %>
            </div>
        </div>
    </div>
</div>




  <%= f.input :description %>
  <%= f.input :course_id, as: :hidden, input_html: {value: params[:course_id]} %>
  <%= f.button :submit %>
<%end%>

</div>



