
<div class="text-center">

  <% @reviews.each do |review|%>
      <br>
      <h1>Reviews for <%=review.appointment.course.title%></h1>
      <br>
      <br>
      <strong><%=review.appointment.user.first_name%> <%= " "%><%=review.appointment.user.last_name%></strong>
      <li class="review-star list-unstyled" data-score="<%=review.stars %>"></li>
      <%=review.content%>
      <br>
      <br>

  <%end%>
</div>

  <% content_for(:after_js) do %>


<script>


$(document).ready(function () {
 $('.review-star').raty({
  path: '/assets/',
  // scoreName: 'review[stars]'
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  },
 });
});

</script>

<% end %>
