<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>



  <%= simple_form_for [@appointment, @review ] do |f| %>
            <% f.error_notification %>
            <%= f.input :content %>
            <%= f.input :stars, collection: [1,2,3,4,5] %>
            <%= f.button :submit %>
<%end%>


<%= link_to "Back", :back %>


