<div class = "text-center">
<br>
<br>
<h2>Tell us about <%=@appointment.course.title%> with <%=@appointment.course.establishment.name%>!</h2>
</div>

<div class = "container">
  <div class = "row">
    <div class = "col-xs-4 col-md-offset-4">
      <%= simple_form_for [@appointment, @review ] do |f| %>
            <% f.error_notification %>
            <%= f.input :content %>

            <div id="rating-form"></div>

            <%= f.button :submit, class: "btn btn-warning" %>
    <%end%>
    </div>
  </div>
</div>

  <% content_for(:after_js) do %>

<script>

$(document).ready(function () {
 $('#rating-form').raty({
  path: '/assets/',
  scoreName: 'review[stars]'
 });
});

</script>


<% end %>


