
<div class = "info-teacher">
  <div>
    <h2 class = "division"><%= @establishment.name%></h2>
    <p><%=@establishment.user.description%><%= @establishment.description%>
<br>
    <strong>Username: </strong><%= @establishment.user.fullname %><br><strong>Address: </strong><%= @establishment.address%></div>
    </div>



    <div style="margin-right:30px">
     <% if @establishment.photos? %>
     <% @establishment.photos.each do |photo| %>
     <%= cl_image_tag photo.path, height: 350, width: 350, crop: :fill%>
     <% end %>
     <% end %>
   </div>

 </div>


 <div class="container">
  <div class="row">
  <div class="col-xs-11 offset-md-1">

      <% @my_courses.each do |course|%>

      <div class = "n-product">


        <% if course.photos? %>
        <% course.photos.each do |photo| %>
        <%= cl_image_tag photo.path, height: 200, width: 200, crop: :fill%>
        <% end %>
        <% end %>

        <p style="margin:20px">
          <%= link_to course.title, course_path(course)%>

          <br>
          <br>
          <strong> <%= "Description: "%>
          </strong>
          <%= course.description%>
          <br>
          <br>
          <strong>
            <%= "Price: "%>
          </strong><%= course.price %> <%= " $"%>
        </p>
        <hr>



        <br>

        <div class = "buttons-f">
          <% if policy(course).edit? %>

          <%= link_to edit_establishment_path(course), class: "btn btn-default" do %>
          <i class="fa fa-pencil" aria-hidden="true"></i> Edit
          <% end %>

          <% end %>
          <%= link_to course, method: :delete , class: "btn btn-default destroy-course" do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i> Destroy
          <%end%>


        </div>

      </ul>


    </div>

    <br>


    <%end%>

    <%= link_to "Create course", new_establishment_course_path(@establishment), class: "btn btn-warning"%>

  </div>
</div>

</div>

</div>


<button id = "notifications" class = "btn-envelope" >

  <span>

    <% if @appointment.where(status: nil).any? %>
    <P >Notifications
      <span class="orb">
        <%= @appointment.where(status: nil).count %>

      </span>

    </P>

    <% else %>
    <P> Notifications </P>
    <% end %>
  </span>

</button>

<div class = "text-center hidden my-notifications">



  <%if @appointment != nil%>

  <h3> Requests</h3>

  <%@appointment.each do |appointment| %>

  <% if appointment.status.nil? %>


  <p><strong><%="From: "%></strong>
  <%=appointment.user.first_name%> <%= " "%><%=appointment.user.last_name%>
<br>
  <strong><%="At: "%></strong> <%=appointment.date%>
<br>
  <strong><%= "For: "%></strong> <%=appointment.course.title%>
<br>
  <strong><%= "Messege: "%></strong> <%=appointment.description%></p>
  <br>

<span class="inline-block">
  <%= simple_form_for appointment, url: confirm_appointment_path(appointment), method: :post do |f| %>
  <%= f.submit "Confirm", class: "btn btn-success" %>
  <% end %>
  <br>

  <%= simple_form_for appointment, url: decline_appointment_path(appointment), method: :post do |f| %>
  <%= f.submit "Decline", class: "btn btn-danger" %>
  <% end %>
</span>

  <div class = "division"></div>
  <br>
  <br>
  <% end %>

  <%end%>
  <%else%>

  <p>No requests for courses :(</p>

  <% end %>
</div>







