<h1>Establishments#show</h1>
<p>Find me in app/views/establishments/show.html.erb</p>

<div class = "text-center">



<% @my_courses.each do |course|%>
<ul class = "list-unstyled">
  <li><strong> <%= "Course: "%> </strong><%= link_to course.title, course_path(course)%></li>
 <li> <strong> <%= "City: "%> </strong> <%= course.establishment.name%></li>
  <li><strong> <%= "Price: "%> </strong><%= course.price %> <%= " $"%></li>
  <li><strong> <%= "Description: "%> </strong><%= course.description%></li>
 <li> <strong> <%= "City: "%> </strong> <%= course.establishment.city%></li>
</ul>
  <% if policy(course).edit? %>
    <%= link_to "Edit course", edit_course_path(course)%>
    <%= link_to "Destroy course", course, method: :delete %>
  <br>
  <% end %>
<%end%>

<br>
<br>
<%= link_to "Create course", new_establishment_course_path(@establishment)%>
<br>


<%= link_to "Back", :back %>

</div>










