
<div class = "info-teacher">
  <div>
    <h2 class = "division"><%= @establishment.name%></h2>
    <p class = "division"><%= @establishment.description%></p>
    <p class = "division"><%= @establishment.city%> <%= ", "%><%= @establishment.country%> <%= " "%><%= @establishment.street%> <%= " "%> <%= @establishment.postal_code%></p>
  </div>

  <div>
     <% if @establishment.photos? %>
    <% @establishment.photos.each do |photo| %>
    <%= cl_image_tag photo.path, height: 350, width: 350, crop: :fill%>
    <% end %>
    <% end %>
  </div>

</div>



<h1 class = "text-center">Courses</h1>
<div class="container">
  <div class="row">

    <div class="col-xs-8 col-xs-offset-2">
      <% @my_courses.each do |course|%>
      <div class = "n-product">

      <% if course.photos? %>
    <% course.photos.each do |photo| %>
    <%= cl_image_tag photo.path, height: 200, width: 200, crop: :fill%>
    <% end %>
    <% end %>
        <ul class = "list-unstyled">

          <li class = "division"><strong> <%= "Course"%>
            <br> </strong><%= link_to course.title, course_path(course)%>
          </li>

          <li class ="division"><strong> <%= "Price"%>
            <br></strong><%= course.price %> <%= " $"%>
          </li>

          <li class="division"><strong> <%= "Description"%> </strong>
            <br> <%= course.description%>
          </li>

          <li class = "division"> <strong> <%= "City"%> </strong>
           <br><%= course.establishment.city%>
         </li>
         <br>
         <li>
           <div class = "buttons-f">
            <% if policy(course).edit? %>

              <%= link_to edit_establishment_path(course), class: "btn btn-default" do %>
              <i class="fa fa-pencil" aria-hidden="true"></i> Edit
            <% end %>

            <% end %>
            <%= link_to course, method: :delete , class: "btn btn-default destroy-course" do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i> Destroy
            <%end%>


          </div>
         </li>
       </ul>


     </div>

    <br>


    <%end%>

    <%= link_to "Create course", new_establishment_course_path(@establishment), class: "btn btn-warning"%>

  </div>
</div>

</div>

</div>


<button id = "notifications" class = "btn-envelope" >

<P >Notifications </P>
</button>
<div class = "text-center hidden my-notifications">



  <%if @appointment != nil%>

  <h3> Requests</h3>

  <%@appointment.each do |appointment| %>

  <% if appointment.status.nil? %>


  <strong><%="From: "%></strong>
  <%=appointment.user.first_name%> <%= " "%><%=appointment.user.last_name%>
  <br>
  <strong><%="At: "%></strong> <%=appointment.date%>
  <br>
  <strong><%= "For: "%></strong> <%=appointment.course.title%>
  <br>
  <strong><%= "Messege: "%></strong> <%=appointment.description%>
  <br>


  <%= simple_form_for appointment, url: confirm_appointment_path(appointment), method: :post do |f| %>
  <%= f.submit "Confirm", class: "btn btn-success" %>
  <% end %>
  <br>

  <%= simple_form_for appointment, url: decline_appointment_path(appointment), method: :post do |f| %>
  <%= f.submit "Decline", class: "btn btn-danger" %>
  <% end %>


  <div class = "division"></div>
  <br>
  <br>
  <% end %>

  <%end%>
  <%else%>

  <p>You have not requests for courses</p>

  <% end %>
</div>







