
<div class = "info-teacher">
  <div>
    <h2 class = "division"><%= @establishment.name%></h2>
    <p class = "division"><%= @establishment.description%></p>
    <p class = "division"><%= @establishment.city%> <%= ", "%><%= @establishment.country%> <%= " "%><%= @establishment.street%> <%= " "%> <%= @establishment.postal_code%></p>

  </div>

  <div>
    <img src="http://www.wonderslist.com/wp-content/uploads/2015/04/Philip-Emeagwali.jpg">
  </div>
</div>
      <h1 class = "text-center">Courses</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12">

<div class = "text-center">


<div class="col-xs-12">
    <% @my_courses.each do |course|%>
      <div class = "card-white">
      <ul class = "list-unstyled">
        <li><strong> <%= "Course: "%> </strong><%= link_to course.title, course_path(course)%></li>
       <li> <strong> <%= "City: "%> </strong> <%= course.establishment.name%></li>
        <li><strong> <%= "Price: "%> </strong><%= course.price %> <%= " $"%></li>
        <li><strong> <%= "Description: "%> </strong><%= course.description%></li>
       <li> <strong> <%= "City: "%> </strong> <%= course.establishment.city%></li>
      </ul>
      </div>
    <% if policy(course).edit? %>
    <%= link_to "Edit course", edit_establishment_path(course), class: "btn btn-success"%>

    <%= link_to "Destroy course", course, method: :delete , class: "btn btn-danger"%>
     <br>
     <br>
     <br>
     <br>

    <% end %>

  <%end%>
  <%= link_to "Create course", new_establishment_course_path(@establishment), class: "btn btn-primary"%>

<br>
    </div>
  </div>
</div>
</div>

<br>
<%= link_to "Back", :back , class: "btn btn-default"%>

</div>








