
<div class = "info-teacher">
  <div>
    <h2 class = "division"><%= @establishment.name%></h2>
    <p class = "division"><%= @establishment.description%></p>
    <p class = "division"><%= @establishment.city%> <%= ", "%><%= @establishment.country%> <%= " "%><%= @establishment.street%> <%= " "%> <%= @establishment.postal_code%></p>
  </div>

</div>



      <h1 class = "text-center">Courses</h1>
<div class="container">
  <div class="row">



<div class="col-xs-8 col-xs-offset-2">
    <% @my_courses.each do |course|%>
      <div class = "n-product">
      <ul class = "list-unstyled">
        <li><strong> <%= "Course: "%> </strong><%= link_to course.title, course_path(course)%></li>
       <li> <strong> <%= "City: "%> </strong> <%= course.establishment.name%></li>
        <li><strong> <%= "Price: "%> </strong><%= course.price %> <%= " $"%></li>
        <li><strong> <%= "Description: "%> </strong><%= course.description%></li>
       <li> <strong> <%= "City: "%> </strong> <%= course.establishment.city%></li>
      </ul>
    <div class = "buttons-f">
    <% if policy(course).edit? %>
    <p><%= link_to "Edit course", edit_establishment_path(course), class: "btn btn-success"%></p>

    <p><%= link_to "Destroy course", course, method: :delete , class: "btn btn-danger"%></p>
    </div>

    </div>
     <br>
    <% end %>

  <%end%>

  <%= link_to "Create course", new_establishment_course_path(@establishment), class: "btn btn-primary"%>

   </div>
  </div>

</div>







</div>



<button id = "notifications" class = "btn btn-success"> Notification</button>
    <div class = "text-center hidden my-notifications">

      <%if @appointment != nil%>
      <% content_for(:after_js) do %>
      <%= javascript_tag do %>
      $(document).ready(function(){

        $("#bell").removeClass("hidden");

        $(".#teacher").click(function()
        $("#bell").addClass("hidden");

        });

       });


      <%end%>
      <%end%>

        <h3> You have <%=@appointment.count%> course requets</h3>
        <%@appointment.each do |appointment| %>
        <strong><%="From: "%></strong>
        <%=appointment.user.first_name%> <%= " "%><%=appointment.user.last_name%>
        <br>
        <strong><%="At: "%></strong> <%=appointment.date%>
        <br>
        <strong><%= "For: "%></strong> <%=appointment.course.title%>
        <br>
        <strong><%= "Messege: "%></strong> <%=appointment.description%>
        <br>

        <%= link_to "Confirm", class: "btn btn-success"%>
        <%= link_to "Decline", class: "btn btn-danger"%>
        <div class = "division"></div>
        <br>
        <br>
    <%end%>
        <%else%>
          <p>You have not requests for courses</p>
        <%end%>
    </div>







